.sidebar__container {
  height: 100vh;
  /* width: 256px; */
  background-color: #161a23;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  transition: 0.3s all ease;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis (...) if text overflows */
}

.btnn {
  position: absolute;
  right: 0;
  top: 60%;
  width: 35px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 30px;
}

.btnn:hover > .close__btn {
  color: white;
}

.close__btn {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.sidebar__box {
  padding: 20px;
  overflow: hidden;
  width: 100%;
}

.sidebar__info--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  overflow: hidden;
  white-space: nowrap; /* Prevent text wrapping */
  margin-top: 20px;
}

.sidebar__info--box img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.info__name {
}

.sidebar__nav--box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 15px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap; /* Prevent text wrapping */
}

a {
  text-decoration: none;
  margin-left: 6px;
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.nav__icon {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  width: 30px;
  transition: 0.3s all ease;
}

.nav__title {
  transition: 0.3s all ease;
  color: rgba(255, 255, 255, 0.5);
}

.setting__box {
  margin-left: 15px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap; /* Prevent text wrapping */
}

.nav__icon:hover {
  color: white;
}

.nav__title:hover {
  color: white;
}

.login__box {
  display: flex;
  gap: 5px;
  margin-left: 25px;
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap; /* Prevent text wrapping */
  align-items: center;
  cursor: pointer;
}

.login__box i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  width: 30px;
  transition: 0.3s all ease;
}

.login__title {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s all ease;
}

.login__box:hover > .fa-user {
  color: white;
}

.login__box:hover > .login__title {
  color: white;
}
